Repository umami-hep/salt: changes, and which GitLab CI jobs are due for each by the changed paths.
All: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

.gitlab/.ci-coverage.yaml:

coverage:
  stage: coverage
  image: "$CI_REGISTRY_IMAGE/temporary_images:${CI_COMMIT_REF_SLUG}-test"
  script:
    - coverage combine
    - coverage report --precision=2 -m
    - coverage xml
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
    paths:
      - coverage.xml
  rules:
    - changes: ["*", "salt/**/*.py"]

.gitlab/.ci-test.yaml:

variables:
  TEST_CMD: coverage run -p --source salt -m pytest --show-capture=stdout

.test-template: &test-template
  stage: tests
  needs: [build_docker_test]
  image: "$CI_REGISTRY_IMAGE/temporary_images:${CI_COMMIT_REF_SLUG}-test"
  artifacts:
    paths: [.coverage*]
  rules:
    - changes: ["pyproject.toml", "requirements.txt", "salt/**/*.py", "**/*.yaml"]

# --------------------------- UNIT TESTS ---------------------------
unit-tests:
  <<: *test-template
  script:
    - $TEST_CMD salt/tests/test_models.py
    - $TEST_CMD salt/tests/test_union_find.py
    - $TEST_CMD salt/tests/test_edges.py
    - $TEST_CMD salt/tests/test_utils.py
    - $TEST_CMD salt/tests/test_posenc.py
    - $TEST_CMD salt/tests/test_initnet.py
    - $TEST_CMD salt/tests/test_transformerv2.py
    - $TEST_CMD salt/tests/test_masks.py
    - $TEST_CMD salt/tests/test_featurewise.py
    - $TEST_CMD salt/tests/test_datasets.py

# --------------------------- PIPELINE TESTS ---------------------------
test-dev:
  <<: *test-template
  script:
    - $TEST_CMD salt/tests/test_pipeline.py::test_train_dev
    - $TEST_CMD salt/tests/test_pipeline.py::test_train_movefilestemp

test-truncate-inputs:
  <<: *test-template
  script:
    - $TEST_CMD salt/tests/test_pipeline.py::test_truncate_inputs
    - $TEST_CMD salt/tests/test_pipeline.py::test_truncate_inputs_error

test-GN1:
  <<: *test-template
  script:
    - $TEST_CMD salt/tests/test_pipeline.py::test_GN1
    - $TEST_CMD salt/tests/test_pipeline.py::test_GN1_GATv2

test-GN2:
  <<: *test-template
  script:
    - $TEST_CMD salt/tests/test_pipeline.py::test_GN2

test-GN3:
  <<: *test-template
  script:
    - $TEST_CMD salt/tests/test_pipeline.py::test_GN3

test-GN2_muP:
  <<: *test-template
  script:
    - $TEST_CMD salt/tests/test_pipeline.py::test_GN2_muP

test-GN2emu:
  <<: *test-template
  script:
    - $TEST_CMD salt/tests/test_pipeline.py::test_GN2emu

test-GN2XE:
  <<: *test-template
  script:
    - $TEST_CMD salt/tests/test_pipeline.py::test_GN2XE

test-DIPS-DL1:
  <<: *test-template
  script:
    - $TEST_CMD salt/tests/test_pipeline.py::test_DIPS
    - $TEST_CMD salt/tests/test_pipeline.py::test_DL1

test-regression:
  <<: *test-template
  script:
    - $TEST_CMD salt/tests/test_pipeline.py::test_regression
    - $TEST_CMD salt/tests/test_pipeline.py::test_nan_regression
    - $TEST_CMD salt/tests/test_pipeline.py::test_regression_gaussian

test-flow:
  <<: *test-template
  script:
    - $TEST_CMD salt/tests/test_pipeline.py::test_flow

test-tfv2:
  <<: *test-template
  script:
    - $TEST_CMD salt/tests/test_pipeline.py::test_tfv2

test-maskformer:
  <<: *test-template
  script:
    - $TEST_CMD salt/tests/test_pipeline.py::test_maskformer

test-parameterisation:
  <<: *test-template
  script:
    - $TEST_CMD salt/tests/test_pipeline.py::test_param_concat
    - $TEST_CMD salt/tests/test_pipeline.py::test_param_featurewise

test-misc:
  <<: *test-template
  script:
    - $TEST_CMD salt/tests/test_pipeline.py::test_gls_weighting
    - $TEST_CMD salt/tests/test_pipeline.py::test_no_global_inputs

Change to math backend when eval at full precision
  salt/modelwrapper.py
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Update training.md
  docs/training.md
Due: none

Add config file for GN2XTau
  salt/configs/GN2XTau.yaml
Due: unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Refactor SaltCli.before_instantiate_classes
  salt/utils/cli.py
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Fix bug in class_dict processing when remapping is used.
  salt/utils/cli.py
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Add HybridNorm
  salt/models/transformer_v2.py
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

fix mamba setup
  docs/setup.md
  setup/setup_conda.sh
Due: none

Updating GN3v00 config
  salt/configs/GN3_dev/GN3_v00.yaml
Due: unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Edit tutorial.md
  docs/tutorial.md
Due: none

Added onnx export instructions to tutorial
  docs/tutorial.md
  salt/configs/tutorial.yaml
  salt/utils/cli.py
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Fix logic of input selection and truncation
  salt/data/datasets.py
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Generalize Salt to make it more compatible for uses outside FTAG
  salt/callbacks/predictionwriter.py
  salt/onnx/check.py
  salt/onnx/to_onnx.py
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Update comet_ml package
  requirements.txt
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Add data augmentation ability
  docs/configuration.md
  salt/data/datasets.py
  salt/data/transforms.py
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Automatically group train and val metrics in comet UI
  salt/callbacks/maskformer_metrics.py
  salt/modelwrapper.py
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Maybe fix the HDF5 multihreading bug
  salt/data/datasets.py
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

bump docs versions
  docs/requirements.txt
Due: none

bump package version
  salt/__init__.py
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Configured the global_object name from input config automatically
  salt/callbacks/predictionwriter.py
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Fix loss in checkpoint filename
  docs/evaluation.md
  salt/configs/Baseline_Xbb.yaml
  salt/configs/Dipz.yaml
  salt/configs/MaskFormer.yaml
  salt/configs/SubjetXbb.yaml
  salt/configs/base.yaml
  salt/configs/hitz.yaml
Due: unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

add GN3v01 config file
  salt/configs/GN3v01/GN3_v01.yaml
Due: unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Add electrons to GN3v00 config
  salt/configs/GN3v01/GN3V00.yaml
  salt/configs/GN3v01/GN3V01.yaml
  salt/configs/GN3v01/GN3_Charge.yaml
  salt/configs/GN3v01/GN3_Hybrid.yaml
  salt/configs/GN3v01/GN3_SoftE.yaml
  salt/models/layernorm.py
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Added example config for open data
  salt/configs/GN2_open_data.yaml
Due: unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Add global flag as default to GN3V01 development
  salt/configs/GN3v01/GN3V01.yaml
  salt/configs/GN3v01/GN3_SoftE.yaml
Due: unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

tweak class weights for truthtype pred task for new sample
  salt/configs/GN3v01/GN3V00.yaml
  salt/configs/GN3v01/GN3V01.yaml
  salt/configs/GN3v01/GN3_Charge.yaml
Due: unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Fix in classes weights and name for jet-charge aux task
  salt/configs/GN3v01/GN3V00.yaml
  salt/configs/GN3v01/GN3V01.yaml
  salt/configs/GN3v01/GN3_Charge.yaml
  salt/configs/GN3v01/GN3_SoftE.yaml
Due: unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Quick fix for GN3V01 with global flag
  salt/configs/GN3v01/GN3V01.yaml
  salt/configs/GN3v01/GN3_SoftE.yaml
Due: unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

JOSS paper & documentation updates
  docs/index.md
  docs/tutorial-Xbb.md
  docs/tutorial.md
  mkdocs.yaml
  paper/paper.md
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

One more small change for the paper
  paper/paper.md
Due: none

Ig callback
  docs/evaluation.md
  requirements-ig.txt
  salt/callbacks/__init__.py
  salt/callbacks/integrated_gradients_writer.py
  salt/callbacks/predictionwriter.py
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Labelling on the fly
  docs/configuration.md
  requirements.txt
  salt/configs/GN2X_qcdsplit.yaml
  salt/data/datasets.py
  salt/models/task.py
  salt/tests/configs/test_config.yaml
  salt/tests/test_cli.py
  salt/tests/test_datasets.py
  salt/tests/test_edges.py
  salt/tests/test_models.py
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Update gitlab link in to_onnx.py
  salt/onnx/to_onnx.py
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Add require_labels flag in relabelling
  salt/configs/GN2X_qcdsplit.yaml
  salt/data/datasets.py
  salt/tests/test_datasets.py
  salt/utils/configs.py
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Fix GN2 config
  salt/configs/GN2.yaml
  salt/tests/configs/param_concat.yaml
  salt/tests/configs/param_featurewise.yaml
Due: unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Map malformed truthOriginLabel values as invalid tracks
  docs/configuration.md
  requirements.txt
  salt/data/datasets.py
  salt/tests/test_datasets.py
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Remove maskformer dependence from object-level tasks
  salt/data/datasets.py
  salt/models/saltmodel.py
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

BCE loss for jet classification
  salt/models/task.py
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Cite GN2 paper in salt JOSS paper
  paper/paper.bib
  paper/paper.md
Due: none

final paper typos
  paper/paper.md
Due: none

update version
  salt/__init__.py
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc
