Repository umami-hep/salt: changes, and which GitLab CI jobs are due for each by the changed paths.
All: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

coverage:
  stage: coverage
  image: $CI_REGISTRY_IMAGE/temporary_images:${CI_COMMIT_REF_SLUG}-test
  script:
  - coverage combine
  - coverage report --precision=2 -m
  - coverage xml
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    reports:
      coverage_report:
  ...

unit-tests:
  stage: tests
  needs:
  - build_docker_test
  image: $CI_REGISTRY_IMAGE/temporary_images:${CI_COMMIT_REF_SLUG}-test
  artifacts:
    paths:
    - .coverage*
  script:
  - $TEST_CMD salt/tests/test_models.py
  - $TEST_CMD salt/tests/test_union_find.py
  - $TEST_CMD salt/tests/test_edges.py
  ...

test-dev:
  stage: tests
  needs:
  - build_docker_test
  image: $CI_REGISTRY_IMAGE/temporary_images:${CI_COMMIT_REF_SLUG}-test
  artifacts:
    paths:
    - .coverage*
  script:
  - $TEST_CMD salt/tests/test_pipeline.py::test_train_dev
  - $TEST_CMD salt/tests/test_pipeline.py::test_train_movefilestemp

test-truncate-inputs:
  stage: tests
  needs:
  - build_docker_test
  image: $CI_REGISTRY_IMAGE/temporary_images:${CI_COMMIT_REF_SLUG}-test
  artifacts:
    paths:
    - .coverage*
  script:
  - $TEST_CMD salt/tests/test_pipeline.py::test_truncate_inputs
  - $TEST_CMD salt/tests/test_pipeline.py::test_truncate_inputs_error

test-GN1:
  stage: tests
  needs:
  - build_docker_test
  image: $CI_REGISTRY_IMAGE/temporary_images:${CI_COMMIT_REF_SLUG}-test
  artifacts:
    paths:
    - .coverage*
  script:
  - $TEST_CMD salt/tests/test_pipeline.py::test_GN1
  - $TEST_CMD salt/tests/test_pipeline.py::test_GN1_GATv2

test-GN2:
  stage: tests
  needs:
  - build_docker_test
  image: $CI_REGISTRY_IMAGE/temporary_images:${CI_COMMIT_REF_SLUG}-test
  artifacts:
    paths:
    - .coverage*
  script:
  - $TEST_CMD salt/tests/test_pipeline.py::test_GN2

test-GN3:
  stage: tests
  needs:
  - build_docker_test
  image: $CI_REGISTRY_IMAGE/temporary_images:${CI_COMMIT_REF_SLUG}-test
  artifacts:
    paths:
    - .coverage*
  script:
  - $TEST_CMD salt/tests/test_pipeline.py::test_GN3

test-GN2_muP:
  stage: tests
  needs:
  - build_docker_test
  image: $CI_REGISTRY_IMAGE/temporary_images:${CI_COMMIT_REF_SLUG}-test
  artifacts:
    paths:
    - .coverage*
  script:
  - $TEST_CMD salt/tests/test_pipeline.py::test_GN2_muP

test-GN2emu:
  stage: tests
  needs:
  - build_docker_test
  image: $CI_REGISTRY_IMAGE/temporary_images:${CI_COMMIT_REF_SLUG}-test
  artifacts:
    paths:
    - .coverage*
  script:
  - $TEST_CMD salt/tests/test_pipeline.py::test_GN2emu

test-GN2XE:
  stage: tests
  needs:
  - build_docker_test
  image: $CI_REGISTRY_IMAGE/temporary_images:${CI_COMMIT_REF_SLUG}-test
  artifacts:
    paths:
    - .coverage*
  script:
  - $TEST_CMD salt/tests/test_pipeline.py::test_GN2XE

test-DIPS-DL1:
  stage: tests
  needs:
  - build_docker_test
  image: $CI_REGISTRY_IMAGE/temporary_images:${CI_COMMIT_REF_SLUG}-test
  artifacts:
    paths:
    - .coverage*
  script:
  - $TEST_CMD salt/tests/test_pipeline.py::test_DIPS
  - $TEST_CMD salt/tests/test_pipeline.py::test_DL1

Add GN3v01 config with charm charge
  salt/configs/GN3v01/GN3V01_bcCharge.yaml
Due: unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

remove mandatory maskformer for object predictionwriter
  salt/callbacks/predictionwriter.py
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

add joss info
  README.md
  docs/index.md
Due: coverage

Fixing CI/CD Pipeline
  .gitlab-ci.yml
  .gitlab/.ci-build.yaml
  .gitlab/.ci-publish.yaml
  .gitlab/.ci-test.yaml
  .gitlab/issue_templates/bug_report.md
  .gitlab/merge_request_templates/default.md
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Update Version to `0.11`
  salt/__init__.py
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Update multiple Packages
  .pre-commit-config.yaml
  pyproject.toml
  salt/callbacks/predictionwriter.py
  salt/callbacks/saveconfig.py
  salt/configs/base.yaml
  salt/data/datasets.py
  salt/models/task.py
  salt/models/transformer.py
  salt/modelwrapper.py
  salt/onnx/check.py
  salt/onnx/to_onnx.py
  salt/submit/condor_handler.py
  salt/submit/slurm_handler.py
  salt/submit/submit_slurm.py
  salt/tests/test_datasets.py
  salt/tests/test_pipeline.py
  salt/utils/cli.py
  salt/utils/configs.py
  salt/utils/file_utils.py
  salt/utils/mask_utils.py
  salt/utils/muP_utils/main_muP.py
  setup/Dockerfile
  setup/install.sh
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Added GN3EPCLV01 config
  salt/configs/GN3EPCLV01.yaml
Due: unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Fixed ONNX export for models with edge features
  salt/models/attention.py
  salt/models/transformer.py
  salt/onnx/check.py
  salt/onnx/to_onnx.py
  salt/tests/test_edges.py
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Fix Docker Build of Latest
  setup/Dockerfile
Due: none

Add label bot
  .gitlab/.ci-pre-commit.yaml
  .gitlab/workflow/label_bot.py
  .gitlab/workflow/label_mapping.yaml
  setup/Dockerfile
Due: unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Implementation of padded inputs for regression tasks
  salt/callbacks/predictionwriter.py
  salt/configs/nan_regression.yaml
  salt/configs/regression.yaml
  salt/configs/regression_gaussian.yaml
  salt/models/task.py
  salt/tests/test_models.py
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Updating URLs to Projects due to Move of the ATLAS Flavour Tagging Project
  .gitlab/.ci-docs.yaml
  .gitlab/.ci-publish.yaml
  docs/contributing.md
  docs/export.md
  docs/index.md
  docs/preprocessing.md
  docs/setup.md
  docs/tutorial-Xbb.md
  mkdocs.yaml
  pyproject.toml
  salt/submit/submit_htcondor.py
  salt/submit/submit_slurm.py
  salt/utils/cli.py
  setup/run_container.sh
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Enabling Merge Trains
  .gitlab-ci.yml
  .gitlab/.ci-build.yaml
  .gitlab/.ci-coverage.yaml
  .gitlab/.ci-test.yaml
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Fix test reports generation and upload
  .gitlab/.ci-test.yaml
Due: unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Bugfix for inconsistent devices in edge padding
  salt/models/transformer.py
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Adding updated Label-Bot + Fixing failing pipelines
  .gitlab/.ci-pre-commit.yaml
  .gitlab/workflow/label_bot.py
  .gitlab/workflow/reviewers_mapping.yaml
Due: unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Bugfix for the CI/CD Label Bot Pipeline
  .gitlab-ci.yml
  .gitlab/.ci-pre-commit.yaml
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Fixing missing rules in CI/CD
  .gitlab/.ci-build.yaml
  .gitlab/.ci-docs.yaml
  .gitlab/.ci-pre-commit.yaml
  .gitlab/.ci-test.yaml
Due: unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Moving Labelbot to own Repository
  .gitlab/.ci-pre-commit.yaml
  .gitlab/workflow/label_bot.py
  .gitlab/workflow/label_mapping.yaml
  .gitlab/workflow/reviewers_mapping.yaml
Due: unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Check for Existance of Comet API Key
  salt/utils/cli.py
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Onnx flow/flows backward compatility
  salt/onnx/to_onnx.py
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

GN3XPV01 config file
  salt/configs/GN3X.yaml
Due: unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Update ONNX export
  .gitlab/.ci-test.yaml
  salt/onnx/check.py
  salt/onnx/to_onnx.py
  salt/tests/test_pipeline.py
  salt/utils/inputs.py
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Log Confusion Matrix to Comet Logger
  docs/configuration.md
  docs/evaluation.md
  salt/callbacks/__init__.py
  salt/callbacks/confusion_matrix.py
  salt/configs/event_classifier.yaml
  salt/utils/cli.py
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Bump Version
  salt/__init__.py
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Adding Support for Wildcard in Training Dataset Path
  docs/configuration.md
  salt/data/datamodules.py
  salt/data/datasets.py
  salt/tests/test_datasets.py
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Correct experiment name handling in Comet + offline mode for `fast_dev_run`
  salt/utils/cli.py
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Fixing broken Links in Salt Tutorial
  docs/export.md
  docs/preprocessing.md
Due: none

Fixing H5 Issues when using VDS
  pyproject.toml
  salt/callbacks/predictionwriter.py
  salt/callbacks/saveconfig.py
  salt/configs/base.yaml
  salt/data/datamodules.py
  salt/data/datasets.py
  salt/utils/cli.py
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Update Packages and add HybridMuonAdamW Optimizer
  .gitlab/.ci-test.yaml
  pyproject.toml
  salt/modelwrapper.py
  salt/onnx/to_onnx.py
  salt/optim/__init__.py
  salt/optim/hybrid_muon_adamw.py
  salt/tests/test_optimizer.py
  salt/tests/test_pipeline.py
  salt/tests/test_utils.py
  salt/utils/muP_utils/configuration_muP.py
  salt/utils/muP_utils/functions_check_muP.py
  salt/utils/repair_ckpt.py
  setup/Dockerfile
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Add Hourglass FFN layer in Transformer
  salt/models/transformer.py
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Invariant mass edge feature
  docs/configuration.md
  salt/data/edge_features.py
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

AFT-802 - update onnx export opset to 20
  pyproject.toml
  salt/models/__init__.py
  salt/models/transformer_v2.py
  salt/onnx/to_onnx.py
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Adding Documentation about Manual Flash Attention Installation
  docs/setup.md
  salt/models/attention.py
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Use model name from yaml config during ONNX export
  salt/onnx/to_onnx.py
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Fix class_dict weight injection on resume
  salt/utils/cli.py
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Added functionality to have multiple target for regression task
  .gitlab/.ci-test.yaml
  docs/configuration.md
  salt/configs/regression_multi_target.yaml
  salt/data/datasets.py
  salt/tests/test_datasets.py
  salt/tests/test_pipeline.py
  salt/utils/cli.py
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Edge features calculation inside ModelWrapper
  salt/configs/GN2/GN2XE.yaml
  salt/data/datamodules.py
  salt/data/datasets.py
  salt/data/edge_features.py
  salt/models/__init__.py
  salt/models/edge_constructor.py
  salt/models/initnet.py
  salt/models/inputnorm.py
  salt/models/saltmodel.py
  salt/models/transformer.py
  salt/modelwrapper.py
  salt/onnx/check.py
  salt/onnx/to_onnx.py
  salt/utils/cli.py
  salt/utils/edge_features.py
Due: coverage, unit-tests, test-dev, test-truncate-inputs, test-GN1, test-GN2, test-GN3, test-GN2_muP, test-GN2emu, test-GN2XE, test-DIPS-DL1, test-regression, test-flow, test-tfv2, test-maskformer, test-parameterisation, test-misc

Path conditions:
  coverage: any of: *, salt/**/*.py
  unit-tests: any of: pyproject.toml, requirements.txt, salt/**/*.py, **/*.yaml
  test-dev: any of: pyproject.toml, requirements.txt, salt/**/*.py, **/*.yaml
  test-truncate-inputs: any of: pyproject.toml, requirements.txt, salt/**/*.py, **/*.yaml
  test-GN1: any of: pyproject.toml, requirements.txt, salt/**/*.py, **/*.yaml
  test-GN2: any of: pyproject.toml, requirements.txt, salt/**/*.py, **/*.yaml
  test-GN3: any of: pyproject.toml, requirements.txt, salt/**/*.py, **/*.yaml
  test-GN2_muP: any of: pyproject.toml, requirements.txt, salt/**/*.py, **/*.yaml
  test-GN2emu: any of: pyproject.toml, requirements.txt, salt/**/*.py, **/*.yaml
  test-GN2XE: any of: pyproject.toml, requirements.txt, salt/**/*.py, **/*.yaml
  test-DIPS-DL1: any of: pyproject.toml, requirements.txt, salt/**/*.py, **/*.yaml
  test-regression: any of: pyproject.toml, requirements.txt, salt/**/*.py, **/*.yaml
  test-flow: any of: pyproject.toml, requirements.txt, salt/**/*.py, **/*.yaml
  test-tfv2: any of: pyproject.toml, requirements.txt, salt/**/*.py, **/*.yaml
  test-maskformer: any of: pyproject.toml, requirements.txt, salt/**/*.py, **/*.yaml
  test-parameterisation: any of: pyproject.toml, requirements.txt, salt/**/*.py, **/*.yaml
  test-misc: any of: pyproject.toml, requirements.txt, salt/**/*.py, **/*.yaml
